body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#navbar {
    display: flex;
    justify-content: right;
    background: linear-gradient(to right, rgb(110, 110, 120), rgb(10, 15, 10));
    height: 8vh;
    width: 100%;
}

#navbar .navActions{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-right: 3%;
}

#navbar .navButton {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    width: 9rem;
    max-width: 10rem;
    border-radius: 15px;
    height: 2.5em;
    max-height: 3em;
    transition: transform 0.8s ease;
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
}

.navButton::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right in oklch, rgba(10, 15, 10, 1), 30%, rgba(100, 100, 130, 0.6) 70%);
    z-index: -1;
    transition: left 0.4s ease;
}


#navbar .navButton:hover {
    transform: scale(1.06);
    color: white;
}

#navbar .navButton:hover::before {
    left: 0;
}

#langs {
    width: 8rem;
    height: 3.2vh;
    border: 2px solid white;
    background-color: transparent;
    color: white;

}

#langs option {
    background: transparent;
}

#principal {
    flex: 1;
    text-align: justify;
}

.presentation {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

#history .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#principal #title.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: 1px 2px 1px 2px rgba(0, 0, 0, 0.04);
}

#principal #title h1>strong {
    font-size: 3rem;
}

#topic {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 1rem;
    width: 96%;
    margin: 1rem;
    box-shadow: 1px 2px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#topic h3 {
    font-size: 1.4rem;
}

.rodape {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: auto;
    background: linear-gradient(to right, rgb(110, 110, 120), rgb(10, 15, 10));
    height: 8vh;
    width: 100%;
    align-items: center;
}

.rodape small {
    color: white;
    font-size: 1rem;
}

@keyframes pulsar {
    0% {transform: scale(1);}
    50% {transform: scale(1.1); box-shadow: 0 0 15px rgba(255, 255, 255, 0.5); }
    100% {transform: scale(1);}
}