body {
    font-family: "Playfair Display", Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#navbar {
    display: flex;
    justify-content: right;
    background: linear-gradient(to right, rgb(130, 130, 130), rgb(10, 15, 10));
    height: 12vh;
    width: 100%;
}

#navbar .navActions{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    padding-right: 3%;
    align-items: center;
}

#navbar .navButton {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    width: 8.4rem;
    max-width: 9rem;
    border-radius: 16px;
    height: 3em;
    max-height: 3.5em;
    transition: transform 0.8s ease;
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    font-size: 1em;
}

.navButton::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right in oklch, rgba(10, 15, 10, 1), 30%, rgba(100, 100, 130, 0.6) 70%);
    z-index: -1;
    transition: left 0.4s ease;
}


#navbar .navButton:hover {
    transform: scale(1.06);
    color: white;
}

#navbar .navButton:hover::before {
    left: 0;
}

#principal {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    transition: all 0.8s ease;
}

.presentation {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

#book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
}

#principal #bookHistory.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    width: 80%;
    box-shadow: 1px 2px 1px 2px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    border-radius: 12px;
    padding-bottom: 2rem;
}

#principal #title h2>strong {
    font-size: 2.5rem;
}

#topic {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 1rem;
    width: 90%;
    box-shadow: 1px 2px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: justify;
    transition: transform 0.6s ease;
}

#topic:hover {
    position: relative;
    top: 0;
    transform: scale(1.02);
    box-shadow: 1px 2px 2px 3px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

#topic h3 {
    font-size: 1.4rem;
}

#pdf {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 1px 3px 2px rgba(0, 0, 0, 0.2);
    height: 16vh;
    width: 55%;
    border-radius: 20px;
    font-size: 1.1rem;
    padding: 2rem;
    margin-bottom: 2rem;
    margin-top: auto;
    transition: all 0.6s ease;
}

#downloadBook {
    background-color: transparent;
    border: 2px solid white;
    width: 14rem;
    max-width: 14rem;
    border-radius: 15px;
    height: 2.6em;
    max-height: 3em;
    transition: all 0.8s ease;
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    font-size: 1.2rem;
}

#downloadBook::before {
    content: "";
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right in oklch, rgba(10, 15, 10, 1), 40%, rgba(87, 87, 126, 0.6) 60%);
    z-index: -1;
    transition: right 0.4s ease;
}


#downloadBook:hover {
    transform: scale(1.06);
    color: white;
    animation: pulsar 1.2s infinite;
}

#downloadBook:hover::before {
    right: 0;
}

#paints {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 82vh;
    max-height: 110vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background: '';
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    box-shadow: 2px 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 0.5em;
    transition: all 0.6s ease;
}

.part {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 200;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    font-size: 1.2rem;
    transition: all 0.8s ease;
    font-size: 2.5rem;
    color: white;
}

.part p {
    font-size: 0.6em;
}

#paints:hover .part {
    align-items: flex-start;
    padding-left: 1em;
    flex-wrap: wrap;
}

.paintsActions {
    display: flex;
    width: 95%;
    height: 6vh;
    margin-bottom: 2em;
}

.paintsActions .container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.lastPaint {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 33.3%;
    height: 100%;
    font-size: 1em;
}

.nextPaint{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    width: 33.3%;
    height: 100%;
    font-size: 1em;
}

.containerCarousel {
    display: flex;
    gap: 8px;
}

.bolinha {
    width: 0.5vw;
    height: 0.5vw;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
}

.bolinha.ativa {
    background-color: #333;
    transform: scale(1.2);
    cursor: pointer;
}

.paintButton {
    background: lightgray;
    border: none;
    border-radius: 80px;
    height: 4vh;
    width: 5vw;
    margin: 0.4em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1em;
}

.lastPaint p {
    cursor: pointer;
}

.nextPaint p {
    cursor: pointer;
}

.loadedContent {
    transition: all 0.5s ease;
}

.loadedContent:has(.content) {
    display: flex;
    flex-direction: column;
    justify-content: left;
    height: 40vh;
    width: 80%;
    border-radius: 30px;
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.3);
    padding: 2rem;
    margin-bottom: 2rem;
    text-align: justify;
}

.loadedContent:has(.content) h2 {
    font-size: 2.5em;
}

/* Parte em desenvolvimento */

#development{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.4em;
    transition: all 0.4s ease;
}

#development:hover {
    transform: scale(1.01);
}

/* Cards dos integrantes do grupo */

#cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 96%;
    max-width: 98%;
    margin: 2em;
    gap: 2em;
    align-items: center;
}

#personCard {
    display: flex;
    flex-grow: 1;
    height: 8vh;
    width: 90%;
    max-width: 92%;
    background: linear-gradient(to left, rgb(240, 240, 240), rgb(160, 160, 170));
    border-radius: 30px;
    padding: 0.8em;
    transition: all 0.6s ease;
}

#personCard:hover {
    transform: scale(1.03);
}

#personCard a {
    text-decoration: none;
    color: gray;
}

#personCard .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.personName {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
    height: 100%;
    font-size: 1.05em;
    transition: all 0.6s ease;
}

.contacts {
    display: flex;
    justify-content: right;
    align-items: center;
    transition: all 0.6s ease;
    width: 100%;
    height: 10%;
}

.contacts a {
    font-size: 1.4em;
    cursor: pointer;
    transition: all 0.6s ease;
}

.contacts a:hover {
    transform: scale(1.06);
}

.presentationContent {
    display: flex;
    flex-direction: column;
    text-align: justify;
    font-size: 1.2em;
    height: 100%;
    width: 100%;
    justify-content: center;
    overflow: auto;
    transition-delay: 2s;
    transition: all 0.6s ease;
    color: white;
}

.personalPresentation:has(.presentationContent) ~ .contacts {
    transition: all 0.6s ease;
    height: 20%;
    margin-top: auto;
}

.personalPresentation:has(.presentationContent) {
    display: flex;
    justify-content: left;
    text-align: justify;
    overflow: auto;
    width: 90%;
    max-width: 100%;
    max-height: 95%;
    padding: 0.4em;
    color: white;
    transition: all 0.6s ease;
}

#personCard:has(.personalPresentation .presentationContent) {
    height: 30vh;
    transition: all 0.6s ease;
}

#personCard:has(.presentationContent) .personName{
    height: 20%;
    font-size: 1.1em;
    transition: all 0.6s ease;
}

.closeContent {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: right;
    margin-top: auto;
}

/* .clearCards {
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 90%;
    height: 70%;
}

.clearCards button {
    height: 70%;
    width: 20%;
    border-radius: 20px;
    border: none;
    background: transparent;
    transition: all 0.6s ease;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

.clearCards button:hover {
    transform: scale(1.1);
} */

.rodape {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: auto;
    background: linear-gradient(to right, rgb(110, 110, 120), rgb(10, 15, 10));
    height: 8vh;
    width: 100%;
    align-items: center;
    z-index: 999;
}

.rodape small {
    color: white;
    font-size: 1rem;
}

.rodape a {
    text-decoration: none;
}

@keyframes pulsar {
    0% {transform: scale(1);}
    50% {transform: scale(1.04); box-shadow: 0 0 15px rgba(255, 255, 255, 0.5); }
    100% {transform: scale(1);}
}

@keyframes girar360 {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(90deg);}
    50% {transform: rotate(180deg);}
    75% {transform: rotate(270deg);}
    100% {transform: rotate(360deg);} 
}

@keyframes rotation{
    from{
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
